<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add student</title>
</head>
<body background="https://www.fix.ru/files/content/image/7_1.jpg">
<h1 style="text-align: center; background-color: darkgoldenrod"><em>Create student page</em></h1>
<hr>
<div style="text-align: center; background: chocolate">
    <form th:action="@{/student/students/save-student/{id}(id=${student.id})}"
          th:method="post" th:object="${student}">

        <label for="Name">Student first name</label>
        <input type="text" th:field="*{lastName}" id="Name" placeholder="Enter student name">
        <br>
        <label for="Surname">Student last name</label>
        <input type="text" th:field="*{firstName}" id="Surname" placeholder="Enter student surname">
        <br>
        <label for="Email">Student email</label>
        <input type="text" th:field="*{email}" id="Email" placeholder="Enter student email">
        <br>
        <label for="Format">Study format</label>
        <input type="text" th:filed="*{studyFormat}" id="Format" placeholder="Enter study format">
        <br>
        <input type="submit" value="Save student">
    </form>
</div>


</body>
</html>