<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add course</title>
</head>
<body background="https://www.fix.ru/files/content/image/7_1.jpg">
<h1 style="background-color: dodgerblue; text-align: center"><em>Add course page</em></h1>
<hr>
<div style="text-align: center; background: darkgoldenrod">
    <form th:action="@{/course/courses/save-course(id=${course.id})}"
          th:method="post" th:object="${course}">

<!--        <input type="hidden" name="id" th:field="*{id}">-->
        <label for="Course name">Course name</label>
        <input type="text" th:field="*{courseName}" id="Course name" placeholder="Enter course name">
        <br>
        <label for="Duration course">Duration course</label>
        <input type="text" th:field="*{duration}" id="Duration course" placeholder="Enter duration course">
        <br>
        <input type="submit" value="Save course">
    </form>
</div>

<!--<form action="#"-->
<!--        th:action="@{/courses/save(companyId=${param.companyId})}"-->
<!--        th:object="${course}" method="post">-->

<!--    <input type="hidden" name="id" th:field="*{id}">-->

<!--    <input type="text" name="courseName" th:field="*{courseName}" placeholder="Course Name">-->
<!--    <br><br>-->
<!--    <input type="text" name="durationInMonth" th:field="*{duration}" placeholder="Duration">-->
<!--    <br><br>-->
<!--    <input type="submit" value="Add">-->
<!--</form>-->

</body>
</html>